%nav.top-bar{ :data => { :block => "top_bar" } }
  %ul.title-area
    %li.name
      %h1
        = link_to root_path do
          = image_tag("hedgehog.png", :height => "45", :width => "70")
          - if logged_in?
            - current_user.blog.users.each do |user|
              = image_tag(user.gravatar_url, :alt => user.email, :title => user.username)
    %li.toggle-topbar.menu-icon
      %a{ :href => "javascript:void(0)"}
        %span

  %section.top-bar-section
    %ul.right
      - if logged_in?
        %li.has-form
          = link_to new_post_path, :class => "button success", :data => { :remote => true, :action => "modal" } do
            %i.icon-pencil
        %li.has-form
          = link_to new_invite_path, :class => "button success", :data => { :remote => true, :action => "modal" } do
            %i.icon-group
            Invite friends
        %li.divider
        %li.has-form
          = link_to logout_path, :class => "button", :data => { :method => :delete } do
            %i.icon-signout
            Log out
      - else
        %li.has-form
          = link_to register_path, :class => "button success", :data => { :remote => true, :action => "modal" } do
            %i.icon-heart-empty
            Join with Us
        %li.divider
        %li.has-form
          = link_to login_path, :class => "button", :data => { :remote => true, :action => "modal" } do
            %i.icon-signin
            Log in